/*color
#952C3F rouge
#343641 blue fonce
#979C9C gris
#F2EAC9 jaune clair
#388998 bleu
*/

* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin:0 auto;
}



/*------------------------------   Container (centre la page)    ---------------------*/
.container {
    max-width: 1170px;
    margin:0 auto;
    min-height: inherit;
}
/*-------------------------------------------   Header   -------------------------------------*/
header {
    background-color: #348899 ;
    min-height: 130px;
    width: 100%;
    margin-top: 0;
}
header img { /*logo*/
    display: inline-block;
    width: 30%;
    float:left;
    padding: 40px  0 20px  0;
    vertical-align: top;
}
/*menu principal contact anglais*/
header ul{
    padding-top: 50px;
    float: right;
}
header ul li {
    display: inline-block;
    font-weight: 200;
    font-size: 1rem;
    border-right: 1px solid #FFFFFF;
}
header ul li a{
    display : block;
    text-decoration: none;
    color: #fff;
    padding : 5px 15px 5px 15px ;
}
header ul li a:hover{
    color: #a1f7f9;
}
/*-------------------------------------------   Section menu forfaits icons   -------------------------------------*/
#sec_menu_forfait{
    background-color: #952C3F;
}
#sec_menu_forfait ul{
    width:100%;
    vertical-align: top;
    background-color: #952c3f;
}

#sec_menu_forfait ul li {
    width: 25%;
    display: inline-block;
    /*background-color:#979C9C;*/
}
#sec_menu_forfait ul li a{
    display : block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #FFFFFF;
}
#sec_menu_forfait ul li a:hover{
    color: #F2EAC9;
}
#sec_menu_forfait  ul li a img{
    width: 20%;
    float:left;
    display : block;
    padding : 0 ;
}
#sec_menu_forfait  ul li p{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
    padding: 20px 0 0 70px;
}
/*------------------------------------------   section carrousel   --------------------------------*/

.slider_banner {
    overflow: hidden;
    z-index: 1000;
    position: relative;
}
.slider_banner .banner {
    position: relative;
    width: 100%;
}
.slider_banner .banner img {
    vertical-align: top;
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
}
.slider_banner .flecha-banner {
    font-size: 50px;
    line-height: 35px;
    color: rgba(0,0,0,.4);

    position: absolute;
    top:40%;
    z-index: 1100;
}
.slider_banner .flecha-banner:hover {
    color: rgba(0,0,0,.6);
}

.slider_banner .flecha-banner.anterior {
    left: 20px;
}
.slider_banner .flecha-banner.siguiente {
    right: 20px;
}
.slider_banner h1 {/*titres slides*/
position: absolute;
font-size: 4rem;
font-weight: 200;
color: #FFFFFF;
top: 50%;
width: 100%;
text-align: center;
}


/*-----------------------------------------------   Section info  ------------------------------------*/
#sec_info{
    background-color:#fcfbf8;
    min-height: inherit;
}
#sec_info h2 {/*titres info*/
    width: 80%;
    font-size: 3rem;
    margin:0 auto;
    padding: 50px 0 50px 0;
    text-align: center;
    font-weight: 200;
}
#sec_info p{
    margin:0 auto;
    width: 80%;
    padding: 0 0 50px 0;
    text-align: justify;
    font-size: 1.4rem;
    Line-height: 1.5em;
    font-weight: 300;
}
/*----------------------------------------------  Section forfaits  ------------------------------------*/
#sec_nos_forfaits{
    background-color: #ededed;
}
#sec_nos_forfaits img{
    width: 100%;
    float: left;
}
#forfaits {
    width:100%;
}
#forfaits>ul {
    list-style:none;
}
#forfaits>ul>li {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    position:relative;/*conteneur pour placer textes*/
}
#forfaits h3 {/*titres 4 images forfait*/
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    color: #FFFFFF;
    width: 100%;
    padding: 30px;
    /*background: rgba(0, 0, 0, 0.5);*/
    background: rgba(149, 44, 63, 0.5);
}

/*style images forfaits slide*/

.caption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/trans-black-50.png);
    width: 100%;
    height: 100%;
    padding: 130px 30px 0 30px;
    text-align: center;
}
.caption h5 {
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 200;
    margin-bottom: 20px;
}
 .caption p {
    color: #CCCCCC;
     font-size: .75em;
     line-height: 1.5em;
    padding-bottom: 20px;
}
.caption a {
    font-size: .75em;
    line-height: 1.5em;
    margin: 50px 20px 15px;
    margin-top: 100px;
    text-decoration: none;
}

/*------------------------------------------------   Footer    ----------------------------------*/
#footer{
    background-color:#343641;
    min-height: 150px;
}
#footer p {/*copyrigth*/
    font-size: 0.8rem;
    font-weight: 200;
    float:left;
    padding: 40px 0 0 100px;
    color: #FFFFFF;
}
/*menu footer*/
#footer ul{
    padding: 40px 100px 0 0;
    float: right;
}
#footer ul li {
    display: inline-block;
    font-weight: 200;
    font-size: 0.8rem;
    border-right: 1px solid #FFFFFF;
}
#footer ul li a{
    text-decoration: none;
    color: #fff;
    padding : 5px 15px 5px 15px ;
}
#footer ul li a:hover{
    color: #a1f7f9;
}


/*------------------------------------------------   page forfaits    ----------------------------------*/


#catalogue .accordion-container {
    width: 100%;
    margin: 20px 0 20px;
    clear: both;
}
#catalogue .accordion-toggle {
    position: relative;
    display: block;
    padding: 20px;
    font-size: 1.5em;
    font-weight: 300;
    background: #999;
    color: #fff;
    text-decoration: none;
}
#catalogue .accordion-toggle.open {
    background: #333;
    color: #fff;
}
#catalogue .accordion-toggle:hover {
    background: #666;
}
#catalogue .accordion-toggle span.toggle-icon {
    position: absolute;
    top: 9px;
    right: 20px;
    font-size: 1.5em;
}
#catalogue .accordion-content {
    display: none;
    /*padding: 20px;*/
    overflow: auto;
}
#catalogue .accordion-content img {
    display: inline-block;
    /*display: block;*/
    float: left;
    /*margin: 0 15px 0 0;*/
    width: 17%;
    height: auto;
    vertical-align: top;
}
#catalogue p {
    padding: 15px 0 0 30px;
}
.info_complet{
    width: 83%;
    padding-left: 30px;
    /*background-color: #0088cc;*/
    display: inline-block;
    vertical-align: top;
}
#catalogue .accordion-content ul{
    width: 100%;
    list-style:none;
}
#catalogue .accordion-content ul li{
    margin:20px 0 20px 0;
    background:#f3f3f1;
    min-height: 150px;
}
#catalogue .accordion-content h2{
    font-size: 1.6rem;
    padding: 15px 0 0 0;
    font-weight: 400;
}
#catalogue .accordion-content h2 a{
    text-decoration: none;
    color: #952C3F;
}
#catalogue .accordion-content .info_forfait{
    width: 65%;
    display: inline-block;
    padding-top: 15px;
}
#catalogue .accordion-content ul li .lieu  {
    font-size: 1.2rem;
    color: #388998;
    text-decoration: none;
    font-weight: 300;
}
#catalogue .accordion-content ul li .lieu .numero{
    font-size:0.8em;
    font-weight:500;
    width:25px;
    height:25px;
    border-radius:12px;
    background:#2E2A2A;
    text-align:center;
    color:#ffffff;
    float:left;
    margin:0 5px 0 0;
    padding-top: 4px;
}
#catalogue .accordion-content .contact{
    width: 30%;
    display: inline-block;
    padding-left: 30px;
}
.bouton_cata {
    background-color: #962d3e;
    padding: 10px;
    border: none;
    color: #ffffff;
    margin: 15px 0 0;
    font-size: 1rem;
    cursor: pointer;
}
.bouton_cata a{
    color: #ffffff;
    text-decoration: none;
}

.bouton_cata:hover {
    background-color: #343642;
}






/*------------------------------------------------   formulaire    ----------------------------------*/

#form_reservation h2 {
    width: 100%;
    color: #ffffff;
    background-color: #348899;
    margin-bottom: 50px;
    padding: 20px 50px;
}

/* formulaire global */
#form_reservation {
    width: 80%;
    max-width: 1200px;
    min-width: 900px;
    margin: auto;
    background-color: #ffffff;
}

#infos_client, #resa_client {
    padding: 10px;
    width: 80%;
    margin: 0 auto 50px;
}

#form_reservation fieldset {
    border-color: #343642;
 }

#form_reservation fieldset legend {
    color: #348899;
    padding: 0 50px 0 20px;
    margin-bottom: 10px;
    position: relative;
    bottom: 2px;
    left: 20px;
}


/* vos informations */
fieldset#infos_client label {
    margin-left: 2%;
    text-align: left;
    display: inline-block;
    width: 15%;
    color: #343642;
}

fieldset#infos_client input {
    height: 30px;
    margin: 0 10px 20px 0;
    width: 65%;
}

/* votre réservation */
fieldset#resa_client label {
    margin-left: 2%;
    text-align: left;
    display: inline-block;
    width: 22%;
    color: #343642;
}

fieldset#resa_client input {
    height: 30px;
    margin: 0 10px 20px 0;
    width: 58%;
}

#resa_client select {
    height: 30px;
}


.bouton_submit {
    padding: 10px;
    width: 200px;
    color: #962d3e;
    background-color: #ffffff;
    font-size: 1.2rem;
    margin: 0 60px;
    border-color: #962d3e;
}

.connexion {
    text-align: center;
    padding-bottom: 50px;
}


/* messages d'erreur */
#form_resa .error {
    border: 1px solid #962d3e;
}

#form_resa .error_msg {
    display : inline-block;
    margin:0;
    color: #962d3e;
}

/* select number jQuery ui */
#animaux {
    margin-top: 20px;
}

#resa_client .ui-selectmenu-button.ui-button {
    width: 6rem;
    height: 30px;
}

#resa_client .ui-button.ui-state-active:hover {
    border: none;
    background-color: #348899;
}

#resa_client .ui-corner-all {
    border-radius: 0;
}



/*------------------------------------------------   tableau formulaire    ----------------------------------*/

/* tableau entier */
#recap {
    width: 80%;
    border-spacing: 5px;
    margin: 50px auto;
}

/* titre "Récapitulatif" */
caption {
    /*font-size: 1.3rem;*/
    margin: 0 0 10px 5px;
    color: #348899;
    text-align: left;
}

/* les lignes th et td */
#recap th, #recap td {
    padding: 10px;
}

/* ligne entête */
#recap thead {
    background-color: #348899;
    color: #ffffff;
}

/* 1ère colonne */
#recap thead th:first-of-type {
     width: 65%;
 }

/* 2ème colonne */
#recap thead th:nth-of-type(2) {
    width: 10%;
}

/* cellules quantité du tbody*/
#recap tbody tr:nth-of-type(1) td:nth-of-type(2), #recap tbody tr:nth-of-type(2) td:nth-of-type(2) {
    text-align: center;
}

/* 3ème colonne */
#recap tbody tr td:last-of-type {
    text-align: right;
    padding-right: 5%;
}

/* dernière ligne */
#recap tbody tr:last-of-type {
    background-color: #962d3e;
    color: #ffffff;
    font-size: 1.2rem;
    font-style: italic;
}


/* boutons submit */
.bouton_submit:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #962d3e;
}

/* modal box confirmation de réservation */

.modal_box_container {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    margin: auto;
    z-index: 100;
}

.modal_box_container > .modal_box_background {
    display: block;
    background-color: #343642;
    opacity: 0.8;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#confirm_resa, .page_detail {
    background-color: #ffffff;
    display: none;
    margin: 100px auto;
    position: relative;
    width: 50%;
    padding: 40px;
}

#confirm_resa a {
    text-decoration: none;
    color: #348899;
    text-align: center;
}

#confirm_resa p:last-of-type {
    text-align: center;
    margin-top: 20px;
}


/*------------------------------------------------   page détail - lightbox    ----------------------------------*/

.lightbox {
    display: none;
    z-index: 999;
    width: 800px;
    height: 100%;
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    background-color: #ffffff;
    margin: 0 auto;
}

.lightbox:target {
    display: block;
}

#lien_provisoire {
    color: #343642;
}

#informations_forfait {
    margin-bottom: 30px;
}

/* image forfait */
#photo_forfait {
    display: inline-block;
    margin: 0 20px 0 30px;
    width: 50%;
}

#image_forfait {
    width: 100%;
}

#descriptif {
    display: inline-block;
    vertical-align: top;

}

/* titre catégorie */
#detail_forfait h2 {
    color: #ffffff;
    background-color: #348899;
    margin-bottom: 30px;
    padding: 20px 30px;
}

/* titre forfait */
#detail_forfait h3 {
    margin-bottom: 10px;
}

/* prix */
#descriptif h4 {
    margin: 10px 0;
    color: #962d3e;
}

/* boutons */
#bouton_resa {
    background-color: #962d3e;
    padding: 10px;
    border: none;
    color: #ffffff;
    margin: 15px 0 0;
    font-size: 1rem;
    cursor: pointer;
}

#bouton_resa:hover {
     background-color: #343642;
 }

#bouton_retour {
    font-size: 0.8rem;
    display: block;
    margin-top: 18px;
    color: #343642;
    text-decoration: none;
}

#bouton_retour:hover {
    color: #348899;
}




/*------------------------------------------------   onglets page détail    ----------------------------------*/

#onglets {
    padding: 0 30px 30px;
}

#liste_onglets li a:hover {
    background-color: #348899;
    color: #ffffff;
    border-radius: 5px 5px 0 0;
}

#onglets div {
    border: 1px solid rgba(151, 156, 156, 0.5);
    /*border-radius: 0 0 5px 5px;*/
    padding: 10px;
    /*position: relative;*/
    /*bottom: 1px;*/
}

#le_lieu li, #infos_pratiques li, #hebergement li, #niveau li {
    list-style-type: none;
    color: #343642;
}

#infos_pratiques a  {
    text-decoration: none;
    color: #348899;
}

/* onglets jQuery ui */
#onglets .ui-widget-header {
    background-color: #ffffff;
    border: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background-color: #348899;
    border: 1px solid #348899;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-tabs .ui-tabs-nav{
    padding: 0;
}

#onglets .ui-corner-all, #onglets .ui-corner-top, #onglets .ui-corner-right, #onglets .ui-corner-tr {
    border-top-right-radius: 8px;
}
#onglets .ui-corner-all, #onglets .ui-corner-top, #onglets .ui-corner-left, #onglets .ui-corner-tl {
    border-top-left-radius: 8px;
}
